<!DOCTYPE html>
<html>
  <head>
    <title>ProjectPokemon</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
  </head>

  <body>
    <div id="page">

      <%= render 'layouts/navigation' %>

      <div class="central"> <%= yield %></div>

      <%= render 'layouts/footer' %>
      
    </div>
  </body>
</html>
